background #grid {
  pointer-events: none;
}
background #grid canvas {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: background-grid-fade-in 3s ease-in-out forwards;
}
background .gradient {
  width: 200vw;
  height: 200vh;
  position: absolute;
  opacity: 0;
}
.grid-loaded background .gradient {
  background-image: radial-gradient(
    #00bfff00 0,
    #00bfffff 15%,
    #00bfff00 34%,
    #00bfffff 58%,
    #00bfff00 75%,
    #00bfffff 100%
  );
  animation: background-gradients-fade-in 3s ease-in-out forwards;
}
background > :nth-child(1) {
  transform: translateX(-100vw);
}
background > :nth-child(2) {
  transform: translateY(-50vh);
}
@keyframes background-gradients-fade-in {
  to {
    opacity: 0.125;
  }
}
@keyframes background-grid-fade-in {
  to {
    opacity: 0.5;
  }
}
.svg-icon {
  fill: #f8f8f8;
  width: 24px;
  height: 24px;
}
.user-container {
  display: flex;
  align-items: center;
}
.github-avatar-default {
  width: 48px;
  height: 48px;
  background-color: grey;
}
#view-toggle:checked::after {
  content: "Proposals";
  cursor: pointer;
}
#view-toggle::after {
  content: "Directory";
  letter-spacing: 1.5px;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  font-size: 16px;
}
#view-toggle {
  flex: 0 0 auto;
  appearance: none;
}
label[for="view-toggle"] {
  margin-left: 8px;
}
#bottom-right {
  position: fixed;
  bottom: 4px;
  right: 4px;
}
#bottom-right a {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: geometricPrecision;
  vertical-align: middle;
  opacity: 0.25;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
#bottom-right a:hover {
  opacity: 1;
}
#bottom-right svg {
  fill: #ffffffbf;
}
#bottom-right:hover svg {
  fill: #fff;
}
#issues-container::after {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border: 4px solid #ffffff40;
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation:
    spin 1.5s cubic-bezier(1, 0, 1, 1) infinite alternate,
    fadeOut 1.5s ease-out 5s forwards;
  top: calc(50vh - (24px + 2px));
  position: fixed;
  opacity: 1;
  transition: 0.5s all ease-in-out;
  right: calc(50% - (24px + 2px));
  pointer-events: none;
}
#issues-container.ready::after {
  opacity: 0;
  filter: blur(8px);
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(5400deg);
    border-bottom-color: #fff;
  }
  100% {
    transform: rotate(7200deg);
    border-color: #fff;
  }
}
@keyframes fadeOut {
  0% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
    border-color: transparent;
  }
}
#faq-link > button {
  background: unset;
  border: unset;
}
div#mobile-modal-scrub {
  position: fixed;
  display: none;
}
div#mobile-modal-scrub > button {
  margin-right: 6px;
  font-size: 24px;
  padding: 0 48px;
  border: unset;
}
#bottom-bar {
  overflow: visible;
}
.preview-active #filters-bottom {
  display: none;
}
.preview-active div#mobile-modal-scrub {
  display: unset;
}
.preview {
  position: fixed;
  transition: 0.25s all cubic-bezier(0, 1, 1, 1);
  max-width: 640px;
  border: 1px solid #80808020;
  border-radius: 4px;
  opacity: 0;
  top: 54px;
  pointer-events: none;
  max-height: calc(100dvh - 54px - 48px - env(safe-area-inset-bottom, 0px));
  background-color: var(--background-color-default);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -webkit-overflow-scrolling: touch;
  margin-bottom: env(safe-area-inset-bottom, 0);
}
.preview * {
  pointer-events: none;
}
.preview.active * {
  pointer-events: all;
}
.preview.active {
  opacity: 1;
  pointer-events: all;
  transform: translateX(50%);
  overflow: hidden;
}
.preview-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  border-bottom: 1px solid #80808020;
}
.preview-body {
  overflow-y: auto;
  max-height: calc(100dvh - 180px - env(safe-area-inset-bottom, 0px));
  display: block;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
background {
  pointer-events: none;
  z-index: -1;
  display: flex;
}
select {
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #80808080;
  appearance: initial;
  flex: 2;
}
input {
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #80808080;
  appearance: initial;
  vertical-align: middle;
  width: 100%;
}
main {
  max-width: 640px;
  position: relative;
}
main div {
  vertical-align: middle;
}
textarea:disabled {
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
}
textarea {
  border: none;
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  width: calc(200% / 3);
  pointer-events: initial;
  backdrop-filter: blur(8px);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #80808020;
  opacity: 1;
  transition: 0.5s opacity ease-in-out;
  background-color: transparent;
}
body,
html {
  height: 100vh;
}
button {
  font-size: 16px;
  padding: 16px 0;
  box-shadow: 0 0 64px #00000080;
}
a {
  text-decoration: none;
}
#install {
  pointer-events: none;
  opacity: 0;
  /* display: none; */
}
main[data-authenticated="true"] #install.visible {
  pointer-events: initial;
  opacity: 1;
}
input:-internal-autofill-selected {
  background: 0 0 !important;
}
.explanation > * {
  padding: 0 32px;
}
button:focus-visible,
input:focus-visible,
select:focus-visible {
  outline-offset: -1px;
}
.explanation {
  border: 1px solid #80808020;
  border-radius: 4px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 64px #00000080;
}
.explanation h2 {
  font-size: 24px;
  text-align: center;
}
.explanation p {
  line-height: 1.5;
  font-size: 16px;
}
.explanation ol,
.explanation ul {
  padding-left: 60px;
}
.explanation li {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 16px;
}
.explanation strong {
  opacity: 1;
}
.controls > div {
  margin: 8px auto;
  text-align: center;
}
.controls > div * {
  width: 100%;
}
.controls > div svg {
  width: unset;
  margin-right: 12px;
}
#installButton span:first-child {
  position: relative;
}
.controls > div {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
  /* display: none; */
  position: absolute;
  width: 100%;
}
.controls > div.visible {
  opacity: 1;
  pointer-events: auto;
  /* display: block; */
}
#first-issue {
  transform: translateY(calc(100% + 4px));
}
.controls {
  position: absolute;
  width: 100%;
}
background,
background #grid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
background #grid {
  pointer-events: none;
}
